<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VST_ToolDigitizingFsNotes.AppMain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VST_ToolDigitizingFsNotes.AppMain.Properties.Settings>
            <setting name="Abbyy11Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Abbyy14Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Abbyy15Path" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkspaceFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FileMappingPath" serializeAs="String">
                <value />
            </setting>
        </VST_ToolDigitizingFsNotes.AppMain.Properties.Settings>
    </userSettings>
</configuration>